PORT=3000
DB_HOST=100.89.207.29
DB_USER=superadmin
DB_PASS=plantpassword
DB_NAME=plantellectdb
TZ=Asia/Manila

MONGO_URI=mongodb://superadmin:plantpassword@100.89.207.29:27017/plantellectmongodb?authSource=admin

SESSION_SECRET=YomCB1+PuZQFcJW7lScDXEZteKIuh1UktXDJVndRw5Y=

# Set to 'false' for local development over plain HTTP
SESSION_COOKIE_SECURE=false
